fastapi==0.109.2
uvicorn==0.23.2
sqlalchemy==2.0.20
psycopg2-binary==2.9.9
passlib[bcrypt]==1.7.4
PyJWT==2.8.0
pydantic==2.6.3
email-validator
pydantic-settings==2.0.3
python-multipart==0.0.9
pytest==7.4.2
httpx==0.25.0
